

  <div class="col s12 m12 l12">
    <div class="card">
      <div class="card-content">
      <div class="card-title-search">
          <div class="title-form"><h4 class="header ng-binding">Categor&iacute;a</h4></div>
        </div>
        
        <div class="table-wrapper">
        <table class="highlight striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Codigo</th>  
            <th>Nombre</th>          
            <th>Opc</th>
          </tr>
          </thead>
          <tbody>
         
          <tr ng-repeat="c in categoria">
            <td>{{$index+1}}</td>
            <td>{{c.codigo}}</td>
            <td>{{c.nombre}}</td>
             <td>
           
               
              <button class="btn-floating waves-effect waves-light light-blue darken-2" name="action">
                <i class="material-icons">mode_edit</i>
                <md-tooltip md-direction="left">
                  Editar
                </md-tooltip>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
    <div class="fixed-action-btn" style="bottom: 25px; right: 25px;">
      <a class="btn-floating btn-large waves-effect waves-light red right z-depth-2"><i
        class="material-icons">add</i>
        <md-tooltip md-direction="top">
          Agregar
        </md-tooltip>
      </a>
    </div>
  </div>
</div>
