<form ng-submit="search()">
  <div class="card-title-search row">
    <div class="title-form col s12 m6 l6">
      <h4 class="header">{{title}}</h4>
    </div>
    <div class="buscador-wrapper right col s12 m6 l4">
      <div class="input-field col s9" ng-if="showInput">
        <input make-autofocus ng-model="param.q" placeholder="Buscar..." type="text" style="float:left;"/>
        <button class="icono-buscador right btn-floating btn-large waves-effect waves-light light-blue darken-2"
                ng-disabled="param.q.length < minLength" ng-if="!showLink" style="position:absolute;margin-left: 20px">
          <i class="material-icons">search</i>
        </button>
      </div>
      <a class="icono-buscador col s2 right btn-floating btn-large waves-effect waves-light light-blue darken-2"
         ng-if="showLink" ui-sref="{{sref}}">
        <i class="material-icons">search</i>
      </a>
  
    </div>
  </div>
</form>
